*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  .message{
    text-align: center;
  }
}

@import './header';
@import './index';
@import './extraitArticle';
@import './gestion';
@import './comment';
@import './edit';
@import './blog';
@import './footer';